* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #3B53A0;
}

.menu {
    width: 30%;
    height: 100%;
    background-color: #3B53A0;
    position: fixed;
    z-index: 1000;
    padding: 20px;
}

.menu-content {
    padding-top: 30vh;
}

.menu h3 {
    font-size: 60px;
    text-transform: uppercase;
    color: #F569A5;
}

.menu a {
    text-decoration: none;
}


.blank-div {
    width: 30%;
    background-color: #3B53A0;
    height: 100%;
    float: left;

}

.content {
    width: 69%;
    background-color: #3B53A0;
    height: 100%;
    float: left;
}

.home-page {
    background-color: #3B53A0;
    height: 100vh;
    position: relative;
}

.home-page img {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
    height: 80%;
}

.post {
    background-color: #3B53A0;
    position: relative;
    margin-bottom: 300px;
    color: white;
}

.post h3 {
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    padding: 60px 0;
    text-transform: uppercase;
    color: #F569A5;
}


.socials {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    color: #F569A5;
}

.social-text {
    font-size: 60px;
}

.text {
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10%;
}
