
.icon-youtube:before { content: '\f166'; } /* '' */
.icon-tumblr:before { content: '\f174'; } /* '' */
.icon-snapchat:before { content: '\f2ad'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */